<section class="mat-typography">
  <div>

    <mat-card class="score-card">
      <mat-card-header>
        <mat-card-title>
          <h1> Score</h1>
        </mat-card-title>
        <mat-card-subtitle>TeamA vs TeamB</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          <mat-grid-list cols="7" rowHeight="60px">
            <mat-grid-tile colspan=7 rowspan=1>
              <button mat-raised-button color="accent" (click)="changeScore('teamA',1)"> Start </button>
            </mat-grid-tile>

            <mat-grid-tile colspan=1 rowspan=1>
              <button mat-fab color="primary" (click)="changeScore('teamA',1)"> + </button>
            </mat-grid-tile>

            <mat-grid-tile colspan=2 rowspan=2>
              <div class="score" id="teamA">{{(post | async)?.teamA}}</div>
            </mat-grid-tile>

            <mat-grid-tile colspan=1 rowspan=2>
              <div class="score">:</div>
            </mat-grid-tile>

            <mat-grid-tile colspan=2 rowspan=2>
              <div class="score" id="teamB">{{(post | async)?.teamB}}</div>
            </mat-grid-tile>

            <mat-grid-tile colspan=1 rowspan=1>
              <button mat-fab color="primary" (click)="changeScore('teamB',1)"> + </button>
            </mat-grid-tile>


            <mat-grid-tile colspan=1 rowspan=1>
              <button mat-mini-fab (click)="changeScore('teamA',-1)"> - </button>
            </mat-grid-tile>

            <mat-grid-tile colspan=1 rowspan=1>
              <button mat-mini-fab (click)="changeScore('teamB',-1)"> - </button>
            </mat-grid-tile>

            <mat-grid-tile colspan=7 rowspan=1>
              <button mat-raised-button color="accent" (click)="changeScore('teamA',1)"> Finish </button>
            </mat-grid-tile>
          </mat-grid-list>
        </p>
        <section class="checkbox-section">
          <mat-checkbox class="example-margin" [(ngModel)]="chboxStream">Stream</mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>


  </div>
</section>